# {{ ansible_managed }}

{% for ups in nut_ups %}
MONITOR {{ ups.name }}@{{ ups.monitorhost|default('localhost', true) }} {{ ups.powervalue|default('1', true) }} {{ ups.monitoruser }} {% for user in nut_users %}{% if user.name == ups.monitoruser %}{{ user.password }} {{ user.role }}{% endif %}{% endfor %}
{% endfor %}

{% if nut_upsmon_notifycmd | length > 0 %}
NOTIFYCMD {{ nut_upsmon_notifycmd }}
{% endif %}

{% for notif in nut_upsmon_notify %}
NOTIFYMSG {{ notif.name }}    "{{ notif.msg }}"
{% endfor %}

{% for notif in nut_upsmon_notify %}
NOTIFYFLAG {{ notif.name }}    "{{ notif.flag }}"
{% endfor %}

{{ nut_upsmon_extra }}
